*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    overflow-x: scroll;
    overflow-y: hidden;
    background-image: url("../Images/header-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background: cover;
    -o-background: cover;
    -webkit-background: cover;
    
}

.logo{
    display: block;
    margin: auto;
    width: 40%
}

.header-text{
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}

.header-text h1{
    font-weight: 100;
}

.ingredients-image{
    height: 100%;
    width: 100%;
}